
.error-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  .container-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
  }
  

  .error-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-content {
    position: relative;
    z-index: 1;
    color: white;
  }
  
  .text-content h1 {
    font-size: 94px;
    margin: 0;
  }
  
  .text-content h3 {
    font-size: 60px;
  }
  
  .text-content p {
    font-size: 28px;
    margin-top: 10px;
  }

.error-container a {
    position: absolute;
    left: 50%;     
    transform: translateX(-50%);  
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .error-container a:hover {
    background-color: #ff6f61;
  }
  